{% extends 'base.html.twig' %}

{% block title %}New Drivers{% endblock %}

{% block body %}
    <h1>Create new Drivers</h1>

    {{ include('drivers/_form.html.twig') }}

    <a href="{{ path('app_drivers_index') }}">back to list</a>
{% endblock %}
