{% extends 'base.html.twig' %}

{% block title %}Edit Vehicles{% endblock %}

{% block body %}
    <h1>Edit Vehicles</h1>

    {{ include('vehicles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vehicles_index') }}">back to list</a>

    {{ include('vehicles/_delete_form.html.twig') }}
{% endblock %}
