{% extends 'base.html.twig' %}

{% block title %}New Vehicles{% endblock %}

{% block body %}
    <h1>Create new Vehicles</h1>

    {{ include('vehicles/_form.html.twig') }}

    <a href="{{ path('app_vehicles_index') }}">back to list</a>
{% endblock %}
